<?xml version="1.0"?>
<!-- XML namespaces -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Right arm support only -->

  <!-- ============================  primesense and mount ============================ -->
  <xacro:macro name="blue_primesense_v0" params="side">
    <link
      name="camera_base_link">
      <inertial>
        <origin
          xyz="0.013428 0.042537 0.33147"
          rpy="0 0 0" />
        <mass
          value="0.72241" />
        <inertia
          ixx="0.042295"
          ixy="0.000279"
          ixz="0.001393"
          iyy="0.039578"
          iyz="-0.0036206"
          izz="0.0036069" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://blue_dexnet/meshes/camera_base_link.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.79216 0.81961 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://blue_dexnet/meshes/camera_base_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="camera_base_joint"
      type="fixed">
      <origin
        xyz="0.20002 0.097409 -0.0254"
        rpy="-3.5679E-18 2.6645E-15 -3.1416" />
      <parent
        link="${side}_base_link" />
      <child
        link="camera_base_link" />
      <axis
        xyz="0 0 0" />
    </joint>
    <link
      name="primesense_link">
      <inertial>
        <origin
          xyz="-0.023147 -0.0017078 -0.021581"
          rpy="0 0 0" />
        <mass
          value="0.19752" />
        <inertia
          ixx="6.4831E-05"
          ixy="8.4513E-06"
          ixz="1.4279E-05"
          iyy="0.00044684"
          iyz="-9.6663E-06"
          izz="0.00043202" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://blue_dexnet/meshes/primesense_link.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.79216 0.81961 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://blue_dexnet/meshes/primesense_link.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="primesense_joint"
      type="fixed">
      <origin
        xyz="0.011494 0.33383 0.61099"
        rpy="3.1416 2.609E-15 -3.1416" />
      <parent
        link="camera_base_link" />
      <child
        link="primesense_link" />
      <axis
        xyz="0 0 0" />
    </joint>

  </xacro:macro>

</robot>

