<launch>
  <arg name="side" doc="Side of the robot: left or right" />

  <group ns="$(arg side)_arm" clear_params="true">

    <!-- Use global URDF -->
    <remap
      from="robot_description"
      to="/robot_description" />

    <!-- Load configuration -->
    <rosparam
      file="$(find blue_bringup)/config/robot_parameters_$(arg side).yaml"
      command="load" />

    <!-- Start the control stack -->
    <include
      file="$(find blue_bringup)/config/controllers.xml"
      pass_all_args="true" />

  </group>
</launch>
