<launch>

  <include file="$(find blue_bringup)/launch/right.launch" pass_all_args="true" />

  <include file="$(find gqcnn)/launch/grasp_planning_service.launch"/>

  <!-- Load URDF -->
  <param
    name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find blue_dexnet)/robots/blue_dexnet.urdf.xacro'" />

  <include file="$(find openni2_launch)/launch/openni2.launch"/>

  <!-- Start necessary controllers -->
  <group ns="right_arm">
    <node
      name="$(anon blue_controller_spawner)"
      pkg="blue_controller_manager"
      type="spawner.py"
      output="screen">
      <rosparam param="start_controllers">
        - blue_controllers/gripper_controller
        <!-- - blue_controllers/joint_ctc -->
        - blue_controllers/joint_position_controller
      </rosparam>
    </node>

    <node
      name="blue_ik_solver"
      pkg="blue_dexnet"
      type="grasp.py" />
  </group>

</launch>
